                /* Use your own code or past solution for Great Idea Web Page CSS here! */
            /* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
            
            html,
            body,
            div,
            span,
            applet,
            object,
            iframe,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            blockquote,
            pre,
            a,
            abbr,
            acronym,
            address,
            big,
            cite,
            code,
            del,
            dfn,
            em,
            img,
            ins,
            kbd,
            q,
            s,
            samp,
            small,
            strike,
            strong,
            sub,
            sup,
            tt,
            var,
            b,
            u,
            i,
            center,
            dl,
            dt,
            dd,
            ol,
            ul,
            li,
            fieldset,
            form,
            label,
            legend,
            table,
            caption,
            tbody,
            tfoot,
            thead,
            tr,
            th,
            td,
            article,
            aside,
            canvas,
            details,
            embed,
            figure,
            figcaption,
            footer,
            header,
            hgroup,
            menu,
            nav,
            output,
            ruby,
            section,
            summary,
            time,
            mark,
            audio,
            video {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }
            /* HTML5 display-role reset for older browsers */
            
            article,
            aside,
            details,
            figcaption,
            figure,
            footer,
            header,
            hgroup,
            menu,
            nav,
            section {
                display: block;
            }
            
            body {
                line-height: 1;
            }
            
            ol,
            ul {
                list-style: none;
            }
            
            blockquote,
            q {
                quotes: none;
            }
            
            blockquote:before,
            blockquote:after,
            q:before,
            q:after {
                content: '';
                content: none;
            }
            
            table {
                border-collapse: collapse;
                border-spacing: 0;
            }
            /* Set every element's box-sizing to border-box */
            
            * {
                box-sizing: border-box;
            }
            
            html,
            body {
                height: 100%;
                font-family: 'Titillium Web', sans-serif;
            }
            
            h1,
            h2,
            h3,
            h4,
            h5 {
                font-family: 'Bangers', cursive;
                letter-spacing: 1px;
                margin-bottom: 15px;
            }
            /* Your code starts here! */
            
            .container {
                width: 900px;
                margin: auto;
            }
            
            .middle-img {
                width: 100%;
            }
            
            .box2 {
                margin-right: auto;
            }
            
            @media (max-width: 800px) {
                .container {
                    width: 100%;
                }
            }
            
            .body-container {
                border-top: 1px solid black;
            }
            
            .container nav {
                padding: 10px;
                width: 600px;
            }
            
            @media (max-width: 800px) {
                .container nav {
                    margin-top: 30px;
                    width: 100%;
                    display: flex;
                }
            }
            
            .container nav a {
                font-size: 14px;
                padding: 20px;
                text-decoration: none;
                display: inline-block;
                color: gray;
            }
            
            .logo {
                align-self: center
            }
            
            h1 {
                margin-top: 20px;
                line-height: 45px;
            }
            
            button {
                border: 1px solid black;
                margin-top: 0;
                margin-bottom: 40px;
                height: 30px;
                width: 200px;
            }
            
            body {
                overflow-x: hidden;
            }
            
            h1 {
                margin-bottom: -10px;
            }
            
            .container2 {
                display: flex;
                padding: 40px 0px 40px;
                width: 100%;
            }
            
            @media (max-width: 800px) {
                .container2 {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                }
            }
            
            .container .home {
                display: flex;
            }
            
            @media (max-width: 800px) {
                .container .home {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
            
            .second-photo {
                height: 100%;
            }
            
            .logo {
                display: inline-block;
                padding: 0 0 0 50px;
                vertical-align: middle;
            }
            
            @media (max-width: 800px) {
                .logo {
                    margin-top: 15px;
                    align-items: center;
                }
            }
            
            .box1 {
                height: 300px;
                width: 300px;
                display: inline-block;
                font-size: 70px;
                text-align: center;
                vertical-align: middle;
                margin: 65px;
            }
            
            .box2 {
                width: 400px;
                display: inline-block;
                margin: 30px 40px 45px 0;
            }
            
            @media (max-width: 800px) {
                .box2 {
                    width: 49%;
                    margin-left: 10px;
                }
            }
            
            .box3 {
                width: 260px;
                display: inline-block;
                margin: 35px 35px 40px 0;
            }
            
            @media (max-width: 800px) {
                .box3 {
                    width: 31%;
                    margin-left: 10px;
                }
            }
            
            @media (max-width: 800px) {
                .bodyimg .middle-img {
                    width: 100%;
                }
            }
            
            .secondsection {
                width: 100%;
                border-bottom: 1px solid black;
            }
            
            @media (max-width: 800px) {
                .secondsection {
                    display: flex;
                }
            }
            
            body {
                overflow-x: hidden;
            }
            
            .middle-img {
                width: 100%;
            }
            
            .container3 {
                padding: 0px;
            }
            
            .footer1 {
                margin-top: 35px;
            }
            
            .copyright {
                margin-top: 100px;
                width: 100%;
                text-align: center;
            }
            
            @media (max-width: 800px) {
                nav a {
                    margin: 0 auto;
                }
                .second-photo {
                    display: none;
                }
                .container3 {
                    display: flex;
                    margin-right:
                }
                .box3 .box7 {
                    margin-right: 0;
                }
            }
            
            @media(max-width: 500px) {
                .container {
                    width: 100%;
                }
                .container .home nav {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    align-items: center;
                    width: 100%;
                }
                .container .home nav {
                    padding: 0;
                }
                .container .home nav a {
                    border-top: 1px solid gray;
                    width: 100%;
                    margin-right: 0;
                    margin-left: 0;
                    text-align: center;
                }
                .second-photo {
                    display: none;
                }
                div.container3 {
                    width: 100%;
                    padding: 0;
                }
                .body-container {
                    width: 100%;
                }
                .bodyimg .middle-img {
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                a.contact {
                    border-bottom: 1ps solid gray;
                }
                div.container3 {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
                .box2 {
                    width: 98%;
                    margin: 0;
                    padding: 10px 10px 10px;
                    margin-top: 15px;
                }
                .secondsection {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
                .box3 {
                    width: 98%;
                    margin: 0;
                    padding: 10px 10px 15px;
                    margin-top: 15px;
                }